interactions:
- request:
    body: '{"tags": {"CostCode": "12345"}, "location": "westus3", "identity": {"type":
      "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters/cli000002?api-version=2022-10-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters/cli000002","name":"cli000002","type":"microsoft.devcenter/devcenters","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"meenakshidas@microsoft.com","createdByType":"User","createdAt":"2023-01-05T00:49:15.4975748Z","lastModifiedBy":"meenakshidas@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-05T00:49:15.4975748Z"},"identity":{"principalId":"1f00fc6a-e96a-4e05-90f9-d1ac631b1c8a","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/4430c30b-d13f-4671-a1c6-35889eb245cd*602606F865578AB6293A87C8022CAB3C4E9A52EDED08B6D9AB76E0CAAA4772D9?api-version=2022-10-12-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0b00c711-0000-4d00-0000-63b61e8d0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-quota:
      - '{"name":{"localizedValue":null,"value":"devCenters"},"limit":100,"currentUsed":47,"category":"Informational","scope":"subscription","target":"/subscriptions/3de261df-f2d8-4c00-a0ee-a0be30f1e48e/","region":"westus3"}'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-01-05T00:50:16.6849495Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/4430c30b-d13f-4671-a1c6-35889eb245cd*602606F865578AB6293A87C8022CAB3C4E9A52EDED08B6D9AB76E0CAAA4772D9?api-version=2022-10-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/4430c30b-d13f-4671-a1c6-35889eb245cd*602606F865578AB6293A87C8022CAB3C4E9A52EDED08B6D9AB76E0CAAA4772D9","name":"4430c30b-d13f-4671-a1c6-35889eb245cd*602606F865578AB6293A87C8022CAB3C4E9A52EDED08B6D9AB76E0CAAA4772D9","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters/cli000002","status":"Accepted","startTime":"2023-01-05T00:49:16.6987232Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"58018ba4-0000-4d00-0000-63b61e8c0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/4430c30b-d13f-4671-a1c6-35889eb245cd*602606F865578AB6293A87C8022CAB3C4E9A52EDED08B6D9AB76E0CAAA4772D9?api-version=2022-10-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/4430c30b-d13f-4671-a1c6-35889eb245cd*602606F865578AB6293A87C8022CAB3C4E9A52EDED08B6D9AB76E0CAAA4772D9","name":"4430c30b-d13f-4671-a1c6-35889eb245cd*602606F865578AB6293A87C8022CAB3C4E9A52EDED08B6D9AB76E0CAAA4772D9","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters/cli000002","status":"Succeeded","startTime":"2023-01-05T00:49:16.6987232Z","endTime":"2023-01-05T00:51:56.6432066Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"58012ca6-0000-4d00-0000-63b61f2c0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"CostCode": "12345"}, "location": "westus3", "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cli-test":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters/cli000001?api-version=2022-10-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters/cli000001","name":"cli000001","type":"microsoft.devcenter/devcenters","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"meenakshidas@microsoft.com","createdByType":"User","createdAt":"2023-01-05T00:52:20.8718674Z","lastModifiedBy":"meenakshidas@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-05T00:52:20.8718674Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cli-test":{"principalId":"ce9b4eaf-f652-465f-beb8-fe7f6b404fe6","clientId":"d5402ab3-cf3c-49f3-85fd-6b52f5418164"}}},"properties":{"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/87ff9511-fcdd-44f7-9fd7-18ba22b172f9*F0B112D58706E810EA2E803ABA93273B6A7769A35F34C08D400C030423F1C31C?api-version=2022-10-12-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0b00cc11-0000-4d00-0000-63b61f460000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-quota:
      - '{"name":{"localizedValue":null,"value":"devCenters"},"limit":100,"currentUsed":48,"category":"Informational","scope":"subscription","target":"/subscriptions/3de261df-f2d8-4c00-a0ee-a0be30f1e48e/","region":"westus3"}'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-01-05T00:53:21.4257382Z'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters?api-version=2022-10-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters/cli000002","name":"cli000002","type":"microsoft.devcenter/devcenters","location[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/devcenters?api-version=2022-10-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allytice-vs-testing-rg/providers/Microsoft.DevCenter/devcenters/allytice-australia-east","name":"allytice-australia-east","type":"microsoft.devcenter/devcenters","[...]
- request:
    body: '{"tags": {"CostCode": "12345"}, "location": "centralus"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000009/providers/Microsoft.DevCenter/devcenters/cli000002?api-version=2022-10-12-preview
  response:
    body:
      string: '{"error":{"code":"NoResourceTypeEndpointAvailable","message":"''Microsoft.DevCenter/devcenters''
        Resource provider doesn''t support api-version 2022-10-12-preview in ''centralus''."}}'
    headers:
      content-type:
      - application/json
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
